
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: #f5f5f5;
}

header{
	height: 100px;
	background-color: white;
}

.container__header{
	max-width: 1200px;
	height: 100%;
	margin: auto;
	padding: 40px;
	padding-top: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-img{
	width: 210px;
	margin-left: -20px;
}

.menu nav ul{
	display: flex;
}

.menu nav ul li {
	list-style: none;
	padding: 0 20px;
}

.menu nav ul li a {
	font-size: 16px;
	text-decoration: none;
	color: #000;
	transition: opacity 300ms;
}

.active{
	color: orange !important;
}

.menu nav ul li a:hover{
	opacity: 0.6;
}

.btn__header-register{
	padding: 8px 39px;
	border: none;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: background, color, border, 300ms;
	border-radius: 15px;
}

.btn__header-register:hover{
	background-color: white;
	color: #ffa43a;
	border: 1px solid #ffa43a;
}

#icon_menu{
	display: none;
}

main{
	max-width: 1200px;
	padding: 40px;
	margin: auto;
}

.cover{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.text__information-cover{
	width: 50%
}

.text__information-cover h1{
	font-size: 50px;
	margin: 7px;
}

.text__information-cover p{
	font-size: 18px;
	margin: 25px 7px 7px;	

}

.buttons__cover{
	display: flex;
	margin-top: 40px;
}

.btn__readMore-cover, .btn__register-cover{
	padding: 14px 40px;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	background-color: black;
	transition: background, color, border, 300ms;	
	margin: 10px;
	border-radius: 6px;
}

.btn__readMore-cover:hover, .btn__register-cover:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}


.media__cover{
	width: 50%;
}

.media__cover video{
	width: 90%;
	margin-top: -40px;
}

.container__banner{
	margin-top: 80px;
}

.banner{
	height: 230px;
	display: flex;
	align-items: center;
	background: #141214;
	position: relative;
}

.banner__icon-heart{
	width: 35%;
	height: 100%;
}

#icon_heart{
	width: 400px;
	margin-top: -50px;
	position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
	margin-left: 35px;
	width: 60%;
	position: relative;
	color: white;
	padding: 40px;
}

.banner__text h2{
	color: white;
	font-size: 22px;
	font-weight: 400;
}

.banner__text a{
	text-decoration: none;
	display: block;
	margin: 20px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	transition: color 300ms;
}

.banner__text a:hover{
	color: orange;
}

.banner__icon-fire{
	height: 100%;
	position: absolute;
	right: 10px;
	overflow: hidden;
}

#icon_fire{
	width: 270px;
	position: relative;
	margin-top: -20px;
	opacity: 0.6;
}

span{
	color: orange;
	font-style: italic;
	cursor: pointer;
}

@media (max-width: 1024px){
	.container__header, main{
		padding: 20px;
	}

	.text__information-cover h1{
		font-size: 40px;
	}

	.text__information-cover p{

		font-size: 16px;
	}

	#icon_heart{
		left: -60px
	}	

	.banner__icon-fire{
		right: -20px;
	}

}

@media (max-width: 924px){
	.container__header{
		padding: 20px;
		justify-content: center;
	}

	 main{
		padding: 20px;
	}

	.header__register{
		display: none;
	}


}

@media (max-width: 820px){
	.cover{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.media__cover video{
	display: none;
}
}

@media (max-width: 714px){

	#icon_menu{
		display: block;
		cursor: pointer;
		font-size: 24px;
	}

	.container__header{
		padding: 20px;
		justify-content: space-evenly;
	}

	.menu{
		height: 0px;
		position: absolute;
		right: 20px;
		top: 70px;
		overflow: hidden;
		z-index: 10;
		box-shadow: 0 0 30px -20px rgba(0, 0, 0, 0.5);
		transition: all 300ms;
	}

	.menu nav ul{
		padding: 15px 0;
		flex-direction: column;
		background-color: white;
	}

	.menu nav ul li{
		padding: 11px 29px;	
	}

	.menu nav ul li a {
		color: black !important;
	}

	.mostrar_menu{
		height: 215px;
	}

	.banner{
		height: 210px;
		display: flex;
		align-items: center;
		background: #141214;
		position: relative;
	}
	.banner__icon-heart{
		width: 15%;
		height: 8%;
	}

	#icon_heart{
		width: 250px;
		margin-top: -90px;
		position: relative;
	    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
	}

	.banner__icon-fire{
		height: 70%;
		position: absolute;
		right: 5px;
		overflow: hidden;
	}

	#icon_fire{
		width: 200px;
		position: relative;
		margin-top: -10px;
		opacity: 0.6;
	}

	.banner__text h2{
		color: white;
		font-size: 16px;
		font-weight: 200;
	}
}

@media (max-width: 490px){
	.text__information-cover{
		margin-left: -40px;
	}

	.buttons__cover{
		margin-left: -50px;
	}

	.banner__icon-fire{
		display: none;
	}

	.banner__icon-heart{
		display: none;
	}
	.banner__text{
		margin-left: 70px;
	}
} 