
.main__title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.main__title-h2{
  font-size: 25px;
  font-weight: bold;
}

.main__title-h2:hover{
  color: orange;
}

.main__busqueda{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.main__busqueda-h3{
  margin: 0 20px;
}

.main__busqueda-span{
  margin: 0 10px !important;
}

table.customTable {
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  color: #000000;
}

table.customTable td, table.customTable th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
}

table.customTable th {
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 5px;
  color: orange;
}

table.customTable thead {
  background-color: #ffffff;
}